<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edu.dao.UserDao">
    <!-- 目的：为DAO接口方法提供sql语句配置 -->
    <!-- 查询用户和密码进行登录 -->
    <select id="findByUsername" resultType="User" parameterType="String">
        select * from t_user where u_loginid = #{username}
    </select>
    
     <update id="updatePass" keyProperty="id">
        update t_user set u_password=#{newPass} where id=#{id}
    </update>
    
    <select id="findById" resultType="User" parameterType="Integer">
        select * from t_user where id = #{id}
    </select>
    
     <update id="updateUserInfo" keyProperty="id">
        update t_user set u_name=#{name}, u_phone=#{phone},u_email=#{email},u_birthday=#{date} where id=#{currentUserId}
    </update>
    
    <select id="checkphone" resultType="java.lang.Integer" parameterType="String">
        select count(*) from t_user where  u_phone= #{phone}
    </select>

	<select id="showRoleList" resultType="RoleList">
		select * from t_role
	</select>

	<update id="updateRole" keyProperty="id">
		update t_user set u_role_fk= #{role} where u_no= #{u_no}
	</update>
	
	<update id="iceStudent" keyProperty="id">
		update t_user set u_states=#{status} where u_no= #{u_no}
	</update>
	
	<select id="showUserRole" resultType="UserRole" parameterType="String">
        select * from (t_user left join t_states on u_states=t_states.states_no) left join t_role t_role on u_role_fk=t_role.id where 1=1
    </select>
    
    <insert id="addLog" parameterType="String"  useGeneratedKeys="true"  keyProperty="id" >
        INSERT INTO t_logger (logger_name, logger_ip,loginid,logger_action) values (#{u_name}, #{Address},#{u_login},#{u_action})
    </insert>
</mapper>